:root {
    --white: #FFFFFF;
    --aqua: #11ebeb;
    --grey: #dcdcdc;
    --darkgrey: #615f5f;
    --lightgrey: #f4f4f4;
    --rootsize: 20px;
    --maxwidth: 1200px;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
    font-size: var(--rootsize);
}

.container {
    width: 100%;
    max-width: var(--maxwidth);
    margin: 3rem auto;
}

header {
    display: flex;
    border: 0.1rem solid var(--grey);
    padding: 2rem;
}

 header h1 {
    text-transform: uppercase;
    width: 100%;;
    color: var(--darkgrey);
}

nav {
    width: 100%;
    display: flex;
    padding-left: 5rem;
    max-width: var(--maxwidth);
}

button {
    display: flex;
    width: 100%;
    padding: 2rem;
    border: 0.1rem solid var(--grey);
    background-color: var(--lightgrey);
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: var(--darkgrey);
} 

button:active {
    background-color: var(--aqua);
    color: var(--white);
    border-color: var(--aqua);
}

/*button:hover {/*
    background-color: #8bfafa;
    transition: ease-in-out .3s;
}*/



