:root {
    --white: #FFFFFF;
    --aqua: #00ffff;
    --grey: #dcdcdc;
    --darkgrey: #615f5f;
    --lightgrey: #f4f4f4;
    --rootsize: 20px;
    --maxwidth: 1200px;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
    font-size: var(--rootsize);
}

.container {
    width: 100%;
    display: flex;
    max-width: var(--maxwidth);
    justify-content: center;
    margin: 3rem auto;
}

header {
    display: flex;
    border: 0.1rem solid var(--grey);
    padding: 2rem;
}

 header h1 {
    text-transform: uppercase;
    width: 100%;;
    color: var(--darkgrey);
}

#kategorier {
    display: block;
    text-decoration: none;
    list-style: none;
}